{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'Tickets/sign_up.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Phudu:wght@900&family=Rubik:wght@300&display=swap" rel="stylesheet">    <title>Create your account</title>
</head>
<body>
    <header class="main_header">
        <h2><a href="{% url 'home' %}">ZaZa</a></h2>
        <h3><a href="{% url 'sign_up' %}">Sign up</a></h3>
        <h3>Log in</h3>
    </header>
    <div class="create_user_box">
        <h2>Create your account</h2>
        <form method="post">
            <div class="dual_input">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Last name">
            </div>
            <div class="single_input">
            <input type="text" placeholder="Email">
            </div>
            <div class="dual_input">
                <input type="text" placeholder="Password">
                <input type="text" placeholder="Confirm">
            </div>
            <div class="submit_button">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>
