body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-user-box {
  border: solid 1px black;
  border-radius: 6px;
  width: 40%;
  height: 400px;
  background-color: aquamarine;
}

.create-user-box h2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-user-box form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.create-user-box label {
  margin: 4px;
}

.create-user-box input {
  width: 60%;
}